doctype html
html(lang="fr")
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		meta(charset="utf8")
	body
		block content

		nav.navbar.navbar-expand-lg.navbar-light.bg-light
			button(class="navbar-toggler", type="button", data-toggle="collapse", data-target="#navbarText", aria-controls="navbarText", aria-expanded="false", aria-label="Toggle navigation")
				span(class="navbar-toggler-icon")
			#navbarText.collapse.navbar-collapse
				ul.navbar-nav.mr-auto
					li.nav-item
						a.nav-link(href='#') Interpréteur 
					li.nav-item.active
						a.nav-link(href='/documentation') Documentation
					li.nav-item
						a.nav-link(href='/exemples') Exemples
				span.navbar-text Deloreannn.

		
		script(type='text/javascript' src='/javascripts/jquery-3.3.1.min.js')
		script(type='text/javascript' src='/javascripts/bootstrap.min.js')
		script(type='text/javascript' src='/javascripts/svg.js')
		script(type='text/javascript' src='/javascripts/ace.js')
		script(type='text/javascript' src='/javascripts/main.js')
		
		