<!doctype html>
<html lang="fr">
<head>
	<title>Turtle Documentation</title>
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/style.css">
	<meta charset="utf-8">
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
		<div id="navbarText" class="collapse navbar-collapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link" href="/">Interpréteur</a></li>
				<li class="nav-item active"><a class="nav-link" href="/documentation">Documentation</a></li>
				<li class="nav-item"><a class="nav-link" href="/exemples">Exemples</a></li>
			</ul>
			<span class="navbar-text">Deloreannn.</span>
		</div>
	</nav>

	<script src="/javascripts/libs/jquery-3.3.1.min.js"></script>
	<script src="/javascripts/libs/bootstrap.min.js"></script>
	<script src="/javascripts/libs/svg.js"></script>
	<script src="/javascripts/libs/ace.js"></script>
	<script src="/javascripts/main.js"></script>
</body>
</html>
