<!doctype html>
<html lang="fr">
<head>
	<title>Turtle Examples</title>
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/style.css">
	<meta charset="utf-8">
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
		<div id="navbarText" class="collapse navbar-collapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link" href="/">Interpréteur</a></li>
				<li class="nav-item"><a class="nav-link" href="/documentation">Documentation</a></li>
				<li class="nav-item active"><a class="nav-link" href="/exemples">Exemples</a></li>
			</ul>
			<span class="navbar-text">Deloreannn.</span>
		</div>
	</nav>

	<div class="container-fluid">
		<div class="row">
			<div class="col-4 text-center">
				<div class="form-group" id="divExemple1">
					<h2>Logo Aperture</h2>
					<textarea class="form-control" name="exemple1" id="exemple1" rows="10" readonly>TELEPORTER 110,12;
AVANCER 164,4;
AVANCER 210,11;
AVANCER 225,86;
AVANCER 111,12;
TELEPORTER 233,21;
AVANCER 273,46;
AVANCER 302,85;
AVANCER 261,151;
AVANCER 234,22;
TELEPORTER 341,102;
AVANCER 362,211;
AVANCER 329,212;
AVANCER 323,196;
AVANCER 285,196;
AVANCER 277,212;
AVANCER 243,213;
AVANCER 305,103;
AVANCER 342,102;
TELEPORTER 315,131;
AVANCER 323,173;
AVANCER 298,172;
AVANCER 318,132;
TELEPORTER 305,234;
AVANCER 278,276;
AVANCER 237,306;
AVANCER 172,260;
AVANCER 304,234;
TELEPORTER 101,240;
AVANCER 211,310;
AVANCER 154,321;
AVANCER 116,315;
AVANCER 97,239;
TELEPORTER 63,174;
AVANCER 91,303;
AVANCER 51,277;
AVANCER 19,237;
AVANCER 62,179;
TELEPORTER 80,101;
AVANCER 12,210;
AVANCER 3,159;
AVANCER 11,115;
AVANCER 84,101;
TELEPORTER 151,64;
AVANCER 22,91;
AVANCER 44,59;
AVANCER 87,21;
AVANCER 153,64;
TELEPORTER 405,103;
AVANCER 387,211;
AVANCER 419,215;
AVANCER 429,170;
AVANCER 488,157;
AVANCER 497,135;
AVANCER 491,110;
AVANCER 456,104;
AVANCER 407,102;
TELEPORTER 437,123;
AVANCER 431,148;
AVANCER 460,143;
AVANCER 461,131;
AVANCER 448,125;
AVANCER 435,122;
TELEPORTER 619,101;
AVANCER 619,123;
AVANCER 558,125;
AVANCER 555,145;
AVANCER 609,147;
AVANCER 605,164;
AVANCER 552,165;
AVANCER 547,185;
AVANCER 608,188;
AVANCER 602,213;
AVANCER 510,211;
AVANCER 531,104;
AVANCER 619,104;
TELEPORTER 656,103;
AVANCER 741,108;
AVANCER 750,133;
AVANCER 734,157;
AVANCER 722,163;
AVANCER 739,190;
AVANCER 743,214;
AVANCER 708,215;
AVANCER 696,186;
AVANCER 683,168;
AVANCER 676,179;
AVANCER 671,201;
AVANCER 664,214;
AVANCER 644,214;
AVANCER 634,211;
AVANCER 659,104;
TELEPORTER 685,125;
AVANCER 680,148;
AVANCER 714,143;
AVANCER 714,129;
AVANCER 701,125;
AVANCER 687,125;
TELEPORTER 779,98;
AVANCER 883,98;
AVANCER 878,124;
AVANCER 843,131;
AVANCER 827,211;
AVANCER 798,211;
AVANCER 810,133;
AVANCER 773,126;
AVANCER 782,98;
TELEPORTER 913,102;
AVANCER 945,103;
TELEPORTER 943,103;
AVANCER 940,187;
AVANCER 959,191;
AVANCER 975,163;
AVANCER 982,122;
AVANCER 984,101;
AVANCER 1019,103;
AVANCER 999,190;
AVANCER 982,207;
AVANCER 964,212;
AVANCER 946,217;
AVANCER 924,213;
AVANCER 911,208;
AVANCER 899,190;
AVANCER 899,174;
AVANCER 902,160;
AVANCER 910,103;
TELEPORTER 1053,103;
AVANCER 1118,105;
AVANCER 1148,118;
AVANCER 1134,154;
AVANCER 1116,165;
AVANCER 1135,191;
AVANCER 1143,215;
AVANCER 1102,214;
AVANCER 1096,188;
AVANCER 1085,170;
AVANCER 1073,170;
AVANCER 1066,214;
AVANCER 1035,214;
AVANCER 1054,104;
TELEPORTER 1186,99;
AVANCER 1278,102;
AVANCER 1271,122;
AVANCER 1216,127;
AVANCER 1210,142;
AVANCER 1267,142;
AVANCER 1260,162;
AVANCER 1209,167;
AVANCER 1205,188;
AVANCER 1265,188;
AVANCER 1259,210;
AVANCER 1172,213;
AVANCER 1185,101;</textarea>
					<input type="button" class="btn btn-block btn-primary float-right mt-2 mb-2" value="Copier l'exemple dans le presse papier">
				</div>				
			</div>
			<div class="col-4 text-center">
				<div class="form-group" id="divExemple2">
					<h2>Test des boucles</h2>
					<textarea class="form-control" name="exemple2" id="exemple2" rows="10" readonly>COULEUR #0000FF;
REPETER 3;
TELEPORTER 100,100;
TOURNER 20;
AVANCER 25;
FIN REPETER;

COULEUR #FF0000;
REPETER 8;
TELEPORTER 200,100;
TOURNER 20;
AVANCER 25;
FIN REPETER;

COULEUR #00FF00;
REPETER 10;
TELEPORTER 300,100;
TOURNER 20;
AVANCER 25;
FIN REPETER;</textarea>
					<input type="button" class="btn btn-block btn-primary float-right mt-2 mb-2" value="Copier l'exemple dans le presse papier">
				</div>				
			</div>
			<div class="col-4 text-center">
				<div class="form-group" id="divExemple3">
					<h2>ISEN</h2>
					<textarea class="form-control" name="exemple3" id="exemple3" rows="10" readonly>TELEPORTER 34,26; 
AVANCER 45,26; 
AVANCER 45,97; 
AVANCER 36,97; 
AVANCER 35,26; 
TELEPORTER 96,32; 
AVANCER 83,24; 
AVANCER 69,28; 
AVANCER 62,33; 
AVANCER 60,43; 
AVANCER 61,52; 
AVANCER 67,57; 
AVANCER 74,62; 
AVANCER 82,65; 
AVANCER 87,71; 
AVANCER 89,82; 
AVANCER 89,85; 
AVANCER 84,88; 
AVANCER 76,88; 
AVANCER 71,84; 
AVANCER 69,83; 
AVANCER 67,81; 
AVANCER 62,85; 
AVANCER 60,88; 
AVANCER 64,93; 
AVANCER 79,98; 
AVANCER 86,98; 
AVANCER 97,88; 
AVANCER 101,83; 
AVANCER 101,75; 
AVANCER 102,66; 
AVANCER 102,67; 
AVANCER 96,60; 
AVANCER 93,57; 
AVANCER 91,56; 
AVANCER 86,54; 
AVANCER 83,54; 
AVANCER 78,53; 
AVANCER 75,49; 
AVANCER 72,43; 
AVANCER 72,41; 
AVANCER 72,39; 
AVANCER 72,38; 
AVANCER 72,37; 
AVANCER 74,37; 
AVANCER 79,37; 
AVANCER 82,37; 
AVANCER 85,37; 
AVANCER 89,37; 
AVANCER 92,37; 
AVANCER 96,36; 
AVANCER 96,31; 
TELEPORTER 156,26; 
AVANCER 156,35; 
AVANCER 122,35; 
AVANCER 122,50; 
AVANCER 153,55; 
AVANCER 153,64; 
AVANCER 126,66; 
AVANCER 123,87; 
AVANCER 153,87; 
AVANCER 157,96; 
AVANCER 115,97; 
AVANCER 111,24; 
AVANCER 154,24; 
TELEPORTER 167,26; 
AVANCER 171,95; 
AVANCER 180,95; 
AVANCER 178,52; 
AVANCER 211,99; 
AVANCER 219,99; 
AVANCER 222,28; 
AVANCER 215,28; 
AVANCER 212,66; 
AVANCER 177,25; 
AVANCER 169,26; 
TELEPORTER 35,140; 
AVANCER 44,122; 
AVANCER 54,140; 
TELEPORTER 38,130; 
AVANCER 48,130; 
TELEPORTER 56,119; 
AVANCER 56,139; 
AVANCER 64,139; 
TELEPORTER 68,120; 
AVANCER 68,137; 
AVANCER 77,139; 
TELEPORTER 91,122; 
AVANCER 89,138; 
TELEPORTER 103,123; 
AVANCER 97,120; 
AVANCER 95,124; 
AVANCER 100,130; 
AVANCER 104,135; 
AVANCER 100,140; 
AVANCER 94,136; 
TELEPORTER 118,119; 
AVANCER 118,137; 
AVANCER 130,136; 
AVANCER 130,128; 
AVANCER 130,123; 
AVANCER 123,121; 
AVANCER 119,121; 
TELEPORTER 135,119; 
AVANCER 135,139; 
TELEPORTER 153,121; 
AVANCER 148,121; 
AVANCER 140,126; 
AVANCER 142,135; 
AVANCER 149,139; 
AVANCER 154,139; 
AVANCER 154,131; 
AVANCER 150,131; 
TELEPORTER 161,119; 
AVANCER 161,141; 
TELEPORTER 164,120; 
AVANCER 177,120; 
TELEPORTER 170,123; 
AVANCER 170,139; 
TELEPORTER 176,137; 
AVANCER 187,124; 
AVANCER 194,141; 
TELEPORTER 180,132; 
AVANCER 189,132; 
TELEPORTER 197,118; 
AVANCER 197,135; 
AVANCER 207,140; 
TELEPORTER 212,122; 
AVANCER 212,134; 
TELEPORTER 212,140; 
AVANCER 212,143; </textarea>
					<input type="button" class="btn btn-block btn-primary float-right mt-2 mb-2" value="Copier l'exemple dans le presse papier">
				</div>				
			</div>
		</div>
	</div>
	
	<script src="/javascripts/libs/jquery-3.3.1.min.js"></script>
	<script src="/javascripts/libs/bootstrap.min.js"></script>
	<script src="/javascripts/libs/svg.js"></script>
	<script src="/javascripts/libs/ace.js"></script>
	<script src="/javascripts/exemples.js"></script>
</body>
</html>