doctype html
html(lang="fr")
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		meta(charset="utf8")
	body
		block content

		nav.navbar.navbar-expand-lg.navbar-light.bg-light
			button(class="navbar-toggler", type="button", data-toggle="collapse", data-target="#navbarText", aria-controls="navbarText", aria-expanded="false", aria-label="Toggle navigation")
				span(class="navbar-toggler-icon")
			#navbarText.collapse.navbar-collapse
				ul.navbar-nav.mr-auto
					li.nav-item.active
						a.nav-link(href='/') Interpréteur 
					li.nav-item
						a.nav-link(href='/documentation') Documentation
					li.nav-item
						a.nav-link(href='/exemples') Exemples
				span.navbar-text Deloreannn.

		.container-fluid
			.row
				.col.col-lg-3
					form(method="post")
						h2 Editeur de code
						#code-editor.text-center
							pre#editor
							#error_message.error_message.mb-2.text-left
								>_ 
							div(class="row justify-content-around")
								input(type="submit", id="validate_code", value="Lancer")
								input(type="reset", id="clear_draw", value="Nettoyer dessin")
								input(type="reset", id="clear_all", value="Tout nettoyer")
				.col.col-lg-9
					.row
						.col.col-lg-3
							h2 Deloreannn draw
						.col.col-lg-9.d-flex.align-items-center
							div.d-flex.align-items-center
								label(for="speed", class="mb-0, mr-1") Vitesse
								input(type="range" id="drawSpeed" name="speed" min="0" max="88")
					#draw_area

		script(type='text/javascript' src='/javascripts/jquery-3.3.1.min.js')
		script(type='text/javascript' src='/javascripts/bootstrap.min.js')
		script(type='text/javascript' src='/javascripts/svg.js')
		script(type='text/javascript' src='/javascripts/ace.js')
		script(type='text/javascript' src='/javascripts/main.js')
		
		